<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
    <style>
        <%- include ('../style/style.css') %>
        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .new {
            height: 20px;
        }
    
        .card {
            padding: 10px 20px;
            border: solid #596e79;
        }
        .title {
            margin: 0;
            color: #596e79;
        }
        p {
            color: #596e79;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>

        <div class="header">
            <h2>Library</h2>
            <button class="new"><a href="/home/library/new">new</a></button>
        </div>
        
        <div class="sheets_container">
            <% for (let sheet of sheets) { %>
                <div class="card">
                    <h4 class="title"><a class="title" href="/home/library/<%= sheet._id %>"><%= sheet.title %></a></h4>
                    <p><%= sheet.comp %></p>
                    <form action="/home/library/<%= sheet.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                </div>

            <% } %>
            
        </div>
        
    </div>
</body>
</html>